.datepicker {
    &-dropdown {
        position: absolute;
        z-index: 10000;
    }
    
    &-input[readonly] {
        background-color: transparent !important;
    }

    &-calendar {
        &-display-month-btn {
            min-width: 90px;
        }

        &-table td,
        &-table th {
            text-align: center;
        }

        &-table .btn {
            box-shadow: none;
        }

        &-table td .btn {
            padding: 3px;
        }
    }
}

