.datepicker
    &-dropdown
        position absolute
        z-index 10000
        
    &-input
        &[readonly]
            background-color transparent !important

    &-calendar
        &-display-month-btn
            min-width 90px

        &-table
            td, th
                text-align center
            .btn
                box-shadow none
                
            td
                .btn
                    padding 3px